:root {
  --background-color: #0c497a;
  --input-color: #F9F871;
  --text-color: #aedff0;
  --primary-color: #96875f;
  --link-color: #845EC2;
  --visited-link-color: #D65DB1;
  --active-link-color: #FF6F91;
  --button-color: #e9e3e0;
  --header-color: #770077;
  --main-font-size: 14px;
  --padding: 3rem;
  --margin: 2rem;
}


html {
  font-size: var(--main-font-size);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 300%;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--padding);
  margin: var(--margin);
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--header-color);
  text-align: center;
}

h2, .modal h2 {
  font-size: 8rem;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
}

p, .modal p {
  font-size: var(--main-font-size);
  font-weight: 300;
  color: var(--primary-color);
 
}




#btn-back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
 
}

.pokemon-list {
  background-color: #000000;
  border: solid #bb1489 8px;
  list-style-type: none;
  padding: 50px;
  box-shadow: 0 0 10px black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex-wrap: wrap;
  margin: 10px;
}
.poke-button {
  position: center;
  width: 100px;
  height: 50px;
  margin: 12px;
}




