body{
  color:transparent;
  background-color:white;
}
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  .page-header {
    display: flex;
    height: 75px;
    background-color: rgb(0, 4, 255);
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    margin-left: 30px;
    color: white;
  }
  
  .pokemon-list {
    list-style: none;
    padding: 0;
 
  }
  
  .poke-button {
    border: none;
    background-color: rgb(251, 255, 0);
    padding: 20px 32px;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgba(51, 169, 238, 0.466);
    color: rgb(250, 250, 246);
    border: 2px solid #83e405b2;
  }
  
  .show {
    display: block;
  }

  #modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: none;
    text-align: center;
  }
  
  #modal-container.is-visible {
    display: block;
  }
  
  .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: rgb(126, 177, 194);
    padding: 15px;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
  }
  
  .modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  }
  
  .modal h1 {
    margin-top: 0;
    color: #0066cc;
    text-align: left;
  }
  
  .modal p {
    margin-bottom: 0;
    color: #0066cc;
    text-align: center;
  }